doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery/dist/jquery.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='socket.io/socket.io.js')
    script(src='js/socket-client.js')



  body
    block content
